<%-include("partials/header.ejs");%>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container h-screen overflow-hidden">
<div class="row clearfix h-auto ">
    <div class="col-lg-12 h-auto">
        <div class="card chat-app min-h-screen">
            <div id="plist" class="people-list">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
                <ul class="list-unstyled chat-list mt-2 mb-0">
                <% user.forEach((e)=>{ %>
                    <a href="/chat/<%=sender%>/<%=e._id%>" target="chatScreen">
                    <li class="clearfix">
                        <img src="data:image/<%=e.add.imgData.img.contentType%>;base64,
                     <%=e.add.imgData.img.data.toString('base64')%>" alt="avatar">
                        <div class="about">
                            <div class="name"><%=e.uname%></div>
                            <div class="status"> <i class="fa fa-circle offline"></i> Online </div>
                        </div>
                    </li>
                    </a>
                <%})%>    
                </ul>
            </div>
            <iframe class="chat min-h-screen" name="chatScreen" src="/chat/%20/blank"></iframe>
        </div>
    </div>
</div>
</div>
<%-include("partials/footer.ejs");%>