<%-include('partials/header.ejs');%>
<div class="container w-full h-screen">
    <div class="w-full">
        <h1 class="text-7xl">Settings</h1>
    </div>
    <div class="options my-5 mx-3 overflow-scroll">
        <ul>
            <% options.forEach((op)=>{ %>
                <a href="/setting/<%=op%>">
                <li class="w-full h-16 my-4 divide-y hover:bg-slate-400 hover:text-white rounded transition-all hover:shadow-gray-300	">
                       <span class="text-xl my-5 p-2"><%=op%></span>                  
                </li>
                </a>
            <%})%>
        </ul>
    </div>
</div>
<%-include('partials/footer.ejs');%>