<%-include("partials/header.ejs"); %>
                        <div class="w-full h-full rounded my-5">
                            <h1 class="text-3xl text-grey-400">Current Users</h1>
<!---USERS CARD SECTIO HERE ---->                            
                            <ul id="empList" class="w-full grid grid-cols-2 h-80  gap-10 grid-flow-row">
                              <% emp.forEach((e)=>{ %>
                                <li class="w-full">
                                <a href="/profile/<%=e._id%>/false">
                                  <figure class="snip1336 rounded-5">
                                      <img class="custom_img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
                                      <figcaption>
                                        <img src="data:image/<%=e.add.imgData.img.contentType%>;base64,
                                         <%=e.add.imgData.img.data.toString('base64')%>" class="profile" />
                                        <h2><%=e.uname%><span><%e.pose%></span></h2>
                                      <div>
                                            <i class="fas fa-phone"></i>
                                            <span>Phone <%=e.mobile%><span>
                                      </div>
                                      <div>
                                            <i class="fas fa-envelope"></i>
                                            <span>Email <%=e.email%><span>
                                      </div>
                                      </figcaption>            
                                    </figure>
                                  </a>
                                </li>
                              <%});%>

                            </ul>
                        </div>
<%-include("partials/footer.ejs"); %>