@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
* , *::before ,*::after{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

a{
	color: black;
	text-decoration: none;
}

.flex{
	display: flex;
}

.rows{
	flex-direction: row;
}

.cols{
	flex-direction: column;
}

.center{
	justify-self: center;
}
.center-ver{
	align-items: center;
}
.text-center{
	text-align: center;
}

#err , .err{
	color: red;
	font-weight: 800;
}

input{
	border: 1px solid grey;
}

body .home-content{
	grid-area: content;
	display: grid;
	justify-content: center;
	widows: 100%;
}


body .header{
	grid-area: header;
}

body .footer{
	grid-area: footer;
}
body .frm{
	width: 35vw;
	margin: 5em auto 0;
}

form input{
	margin: 1% auto;
}
.frm button{
	margin: 2% auto;	
}

/*REGISTRATION  PAGE*/
.reg .btn{
	width: 25%;
}

.fdata{
	width: 100%;
}
.fdata form{
	width: 100%;
}

.fdata form div{
	margin: 0 auto;
	width: 40%;
}

.fdata input{
	margin: 2% auto;
}


.form-container{
	width:100%;
}

.form-container div{
	margin: 0 5%;
}

.add-data{
	width: 100%;
}

#aform{
	width: 100%;
}
#aform>div{
	width: 50%;
	margin: 2% auto;
}

#aform>div>div{
	width: 15%;
	margin: 1% auto;
}

#aform button{
	margin: 2% 35%;
}

.user-container{
	display: grid;
	grid-auto-columns: .5fr 1fr;
	grid-template-areas: "nav content";
	width: 100%;
}

.user-container nav{
	grid-area: nav;
}

.user-container .container{
	grid-area: content;
} 

@media (min-width: 350px) and (max-width :500px){
	#non-mobile{
		display: none;
	}
	#srcPage{
		height: 100vh;
		font-size: 1ch;
	}

	#empList{
		grid-template-columns: 1fr;
	}
}



/*CODE FOR USERS CARDS */
.snip1336 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #3730a3;
}
.snip1336 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1336 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}
.snip1336 figcaption {
  width: 100%;
  background-color: #3730a3;
  padding: 25px;
  position: relative;
}
.snip1336 figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #3730a3;
}
.snip1336 figcaption div{
  color: #ffffff;
  font-size: 1.5ch;
  text-transform: uppercase;
  margin: 10px 0;
  opacity: 0.65;
  width: 47%;
  text-align: left;
  font-weight: 600;
}
.snip1336 figcaption div:hover {
  opacity: 1;
}
.snip1336 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.snip1336 .follow {
  margin-right: 4%;
  border-color: #2980b9;
  color: #2980b9;
}
.snip1336 h2 {
  margin: 0 0 5px;
  font-weight: 300;

}


/*SEARCH BOX ERROR*/
.searchbar{
   margin-bottom: auto;
   margin-top: auto;
   height: 60px;
   background-color: #353b48;
   border-radius: 30px;
   padding: 10px;
 }

 .search_input{
 color: white;
 border: 0;
 outline: 0;
 background: none;
 width: 0;
 caret-color:transparent;
 line-height: 40px;
 transition: width 0.4s linear;
 }

.searchbar:hover > .search_input{
padding: 0 10px;
width: 450px;
caret-color:red;
transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
background: white;
color: #e74c3c;
}

.search_icon{
height: 40px;
width: 40px;
float: right;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
color:white;
text-decoration:none;
}
